In [40]:
#reading csv file
import numpy as np
import pandas as pd
df=pd.read_csv('/content/sample_data/Indian_Employee_Data.csv')
df.head()

,Employee_ID,Name,Age,Gender,Department,Position,Salary,Experience_Years,City,State,Education,Performance_Rating,Joining_Date,Projects_Completed,Overtime_Hours
0,EMP001,Rajesh Kumar,32.0,Male,Engineering,Senior Developer,850000.0,8.0,Bangalore,Karnataka,B.Tech,4.2,03/15/2016,12.0,45.0
1,EMP002,Priya Sharma,28.0,Female,Marketing,Marketing Manager,720000.0,5.0,Mumbai,Maharashtra,MBA,4.5,01/20/2019,8.0,32.0
2,EMP003,Amit Singh,35.0,Male,Finance,Financial Analyst,650000.0,10.0,Delhi,Delhi,CA,3.8,07/10/2014,15.0,28.0
3,EMP004,Sneha Patel,26.0,Female,NaN,HR Executive,480000.0,3.0,Ahmedabad,Gujarat,MBA,4.1,05/12/2021,6.0,20.0
4,EMP005,Vikram Reddy,40.0,Male,Engineering,Tech Lead,1200000.0,15.0,Hyderabad,Telangana,M.Tech,4.7,11/08/2009,25.0,55.0

In [ ]:
#last 5 rows
df.tail()

,Employee_ID,Name,Age,Gender,Department,Position,Salary,Experience_Years,City,State,Education,Performance_Rating,Joining_Date,Projects_Completed,Overtime_Hours
44,EMP045,Neha Kapoor,28.0,Female,IT,Data Analyst,NaN,4.0,Bangalore,Karnataka,M.Sc,3.8,04/12/2020,6.0,29.0
45,EMP046,Amit Sharma,27.0,Male,IT,Junior Developer,650000.0,4.0,Delhi,NaN,B.Tech,4.5,08/20/2020,5.0,25.0
46,EMP047,Riya Gupta,32.0,Female,HR,HR Specialist,NaN,8.0,Mumbai,Maharashtra,MBA,NaN,11/03/2016,inf,42.0
47,EMP048,Rohit Bansal,36.0,Male,Finance,Senior Analyst,980000.0,12.0,Mumbai,Maharashtra,CA,4.9,03/20/2012,19.0,51.0
48,EMP049,Sneha Tiwari,25.0,Female,Sales,Sales Representative,inf,2.0,Kolkata,West Bengal,B.Com,3.6,05/14/2022,3.0,16.0

In [ ]:
#random 10 rows
df.sample(10)

,Employee_ID,Name,Age,Gender,Department,Position,Salary,Experience_Years,City,State,Education,Performance_Rating,Joining_Date,Projects_Completed,Overtime_Hours
31,EMP032,Sunil Kumar,26.0,Male,Sales,Sales Executive,500000.0,3.0,Chennai,Tamil Nadu,B.Com,NaN,01/10/2021,4.0,22.0
16,EMP017,Deepak Kumar,39.0,Male,Engineering,Software Architect,1150000.0,14.0,Hyderabad,Telangana,M.Tech,4.6,02/12/2010,inf,52.0
7,EMP008,Meera Joshi,27.0,Female,Design,UI/UX Designer,620000.0,4.0,Bangalore,Karnataka,B.Des,4.4,08/03/2020,7.0,25.0
36,EMP037,Ramesh Patel,29.0,Male,IT,Backend Developer,720000.0,6.0,Kolkata,West Bengal,B.Tech,4.2,NaN,9.0,35.0
24,EMP025,Vishal Gupta,35.0,Male,Engineering,Machine Learning Engineer,1050000.0,9.0,Bangalore,Karnataka,M.Tech,4.7,09/10/2015,16.0,48.0
19,EMP020,Nisha Pandey,29.0,Female,HR,Talent Acquisition Specialist,520000.0,4.0,Lucknow,Uttar Pradesh,MBA,4.2,09/25/2020,7.0,28.0
11,EMP012,Pooja Malhotra,NaN,Female,Marketing,Digital Marketing Specialist,450000.0,2.0,Delhi,Delhi,BBA,4.0,03/10/2022,4.0,15.0
5,EMP006,Kavya Nair,29.0,Female,Sales,Sales Executive,550000.0,4.0,Chennai,Tamil Nadu,B.Com,3.9,02/28/2020,inf,38.0
33,EMP034,Kavita Yadav,31.0,Female,IT,DevOps Engineer,inf,10.0,Pune,Maharashtra,B.Tech,4.0,12/07/2014,15.0,44.0
44,EMP045,Neha Kapoor,28.0,Female,IT,Data Analyst,NaN,4.0,Bangalore,Karnataka,M.Sc,3.8,04/12/2020,6.0,29.0

In [ ]:
#check shape-(rows&columns)
df.shape

(49, 15)

In [ ]:
#column names
df.columns

Index(['Employee_ID', 'Name', 'Age', 'Gender', 'Department', 'Position',
       'Salary', 'Experience_Years', 'City', 'State', 'Education',
       'Performance_Rating', 'Joining_Date', 'Projects_Completed',
       'Overtime_Hours'],
      dtype='object')

In [ ]:
#data types of columns
df.dtypes

Employee_ID            object
Name                   object
Age                   float64
Gender                 object
Department             object
Position               object
Salary                float64
Experience_Years      float64
City                   object
State                  object
Education              object
Performance_Rating    float64
Joining_Date           object
Projects_Completed    float64
Overtime_Hours        float64
dtype: object

In [ ]:
#basic information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Employee_ID         49 non-null     object
 1   Name                49 non-null     object
 2   Age                 47 non-null     float64
 3   Gender              49 non-null     object
 4   Department          48 non-null     object
 5   Position            48 non-null     object
 6   Salary              44 non-null     float64
 7   Experience_Years    47 non-null     float64
 8   City                49 non-null     object
 9   State               46 non-null     object
 10  Education           49 non-null     object
 11  Performance_Rating  45 non-null     float64
 12  Joining_Date        48 non-null     object
 13  Projects_Completed  48 non-null     float64
 14  Overtime_Hours      48 non-null     float64
dtypes: float64(6), object(9)
memory usage: 5.9+ KB

In [ ]:
#statistical summary
df.describe()

,Age,Salary,Experience_Years,Performance_Rating,Projects_Completed,Overtime_Hours
count,47.000000,44.0,47.0,45.000000,48.00,48.0
mean,32.914894,inf,inf,4.295556,inf,inf
std,6.990148,NaN,NaN,0.401110,NaN,NaN
min,23.000000,-45000.0,2.0,3.500000,2.00,12.0
25%,28.000000,642500.0,4.0,4.000000,7.00,28.0
50%,31.000000,765000.0,7.0,4.300000,12.00,37.0
75%,36.000000,1062500.0,10.0,4.600000,18.25,46.5
max,55.000000,inf,inf,5.000000,inf,inf

In [ ]:
#access columns
df["Salary"]
df[["Employee_ID","Name","Position"]]

   Employee_ID            Name                       Position
0       EMP001    Rajesh Kumar               Senior Developer
1       EMP002    Priya Sharma              Marketing Manager
2       EMP003      Amit Singh              Financial Analyst
3       EMP004     Sneha Patel                   HR Executive
4       EMP005    Vikram Reddy                      Tech Lead
5       EMP006      Kavya Nair                Sales Executive
6       EMP007     Arjun Gupta                DevOps Engineer
7       EMP008     Meera Joshi                 UI/UX Designer
8       EMP009   Rohit Agarwal                            NaN
9       EMP010     Anita Verma                     HR Manager
10      EMP011     Suresh Iyer             Principal Engineer
11      EMP012  Pooja Malhotra   Digital Marketing Specialist
12      EMP013    Karan Chopra                  Sales Manager
13      EMP014       Divya Rao                 Data Scientist
14      EMP015    Manoj Tiwari             Operations Manager
15      EMP016     Ritu Bansal              Financial Planner
16      EMP017    Deepak Kumar             Software Architect
17      EMP018    Sonia Kapoor               Graphic Designer
18      EMP019    Rahul Saxena                Product Manager
19      EMP020    Nisha Pandey  Talent Acquisition Specialist
20      EMP021   Gaurav Mishra           Full Stack Developer
21      EMP022    Preeti Singh            Regional Sales Head
22      EMP023     Ashish Jain             Investment Analyst
23      EMP024   Swati Agrawal                Process Manager
24      EMP025    Vishal Gupta      Machine Learning Engineer
25      EMP026    Arjun Pandey              Software Engineer
26      EMP027     Neha Kapoor                   Data Analyst
27      EMP028     Amit Sharma               Junior Developer
28      EMP029      Riya Gupta                  HR Specialist
29      EMP030    Rajesh Verma                            CFO
30      EMP031     Priya Singh                    QA Engineer
31      EMP032     Sunil Kumar                Sales Executive
32      EMP033      Alok Mehta                  VP Operations
33      EMP034    Kavita Yadav                DevOps Engineer
34      EMP035   Pankaj Mishra            Marketing Associate
35      EMP036     Deepika Roy                       Director
36      EMP037    Ramesh Patel              Backend Developer
37      EMP038      Meera Nair              Senior HR Manager
38      EMP039    Sameer Desai                Finance Manager
39      EMP040     Swati Joshi           Full Stack Developer
40      EMP041      Vinod Iyer                            CEO
41      EMP042   Anjali Saxena                     HR Trainee
42      EMP043   Manish Khanna                Operations Head
43      EMP044    Arjun Pandey              Software Engineer
44      EMP045     Neha Kapoor                   Data Analyst
45      EMP046     Amit Sharma               Junior Developer
46      EMP047      Riya Gupta                  HR Specialist
47      EMP048    Rohit Bansal                 Senior Analyst
48      EMP049    Sneha Tiwari           Sales Representative

In [ ]:
#acess rows
df.iloc[0]        # By index
df.iloc[0:5]

df.loc[0]         # By label
df.loc[df["Age"] > 30]

,Employee_ID,Name,Age,Gender,Department,Position,Salary,Experience_Years,City,State,Education,Performance_Rating,Joining_Date,Projects_Completed,Overtime_Hours
0,EMP001,Rajesh Kumar,32.0,Male,Engineering,Senior Developer,850000.0,8.0,Bangalore,Karnataka,B.Tech,4.2,03/15/2016,12.0,45.0
2,EMP003,Amit Singh,35.0,Male,Finance,Financial Analyst,650000.0,10.0,Delhi,Delhi,CA,3.8,07/10/2014,15.0,28.0
4,EMP005,Vikram Reddy,40.0,Male,Engineering,Tech Lead,1200000.0,15.0,Hyderabad,Telangana,M.Tech,4.7,11/08/2009,25.0,55.0
6,EMP007,Arjun Gupta,31.0,Male,Engineering,DevOps Engineer,NaN,7.0,Pune,Maharashtra,B.Tech,4.3,09/14/2017,11.0,42.0
8,EMP009,Rohit Agarwal,33.0,Male,Finance,NaN,580000.0,9.0,Kolkata,West Bengal,M.Com,3.7,12/01/2015,13.0,30.0
9,EMP010,Anita Verma,38.0,Female,HR,HR Manager,950000.0,12.0,Gurgaon,Haryana,MBA,4.6,04/18/2012,18.0,48.0
10,EMP011,Suresh Iyer,42.0,Male,Engineering,Principal Engineer,1350000.0,18.0,Chennai,Tamil Nadu,M.Tech,4.8,01/25/2006,30.0,60.0
13,EMP014,Divya Rao,34.0,Female,Engineering,Data Scientist,950000.0,8.0,Bangalore,Karnataka,M.Sc,4.5,10/05/2016,14.0,40.0
14,EMP015,Manoj Tiwari,36.0,Male,Operations,Operations Manager,820000.0,NaN,Noida,Uttar Pradesh,B.Tech,4.1,08/30/2013,16.0,45.0
16,EMP017,Deepak Kumar,39.0,Male,Engineering,Software Architect,1150000.0,14.0,Hyderabad,Telangana,M.Tech,4.6,02/12/2010,inf,52.0
18,EMP019,Rahul Saxena,32.0,Male,Marketing,Product Manager,890000.0,7.0,Pune,Maharashtra,MBA,NaN,04/20/2017,12.0,38.0
20,EMP021,Gaurav Mishra,37.0,Male,Engineering,Full Stack Developer,820000.0,10.0,Indore,Madhya Pradesh,B.Tech,4.3,05/16/2014,17.0,44.0
21,EMP022,Preeti Singh,31.0,Female,Sales,Regional Sales Head,950000.0,NaN,Bhopal,Madhya Pradesh,MBA,4.5,12/03/2016,13.0,46.0
23,EMP024,Swati Agrawal,33.0,Female,Operations,Process Manager,720000.0,9.0,Nagpur,Maharashtra,B.Tech,4.0,03/28/2015,14.0,36.0
24,EMP025,Vishal Gupta,35.0,Male,Engineering,Machine Learning Engineer,1050000.0,9.0,Bangalore,Karnataka,M.Tech,4.7,09/10/2015,16.0,48.0
28,EMP029,Riya Gupta,32.0,Female,HR,HR Specialist,NaN,8.0,Mumbai,Maharashtra,MBA,3.8,11/03/2016,12.0,42.0
29,EMP030,Rajesh Verma,45.0,Male,Finance,CFO,1200000.0,inf,Bangalore,Karnataka,CA,4.9,02/28/2005,28.0,65.0
32,EMP033,Alok Mehta,52.0,Male,Operations,VP Operations,2000000.0,28.0,Hyderabad,Telangana,MBA,5.0,05/18/1996,45.0,inf
33,EMP034,Kavita Yadav,31.0,Female,IT,DevOps Engineer,inf,10.0,Pune,Maharashtra,B.Tech,4.0,12/07/2014,15.0,44.0
35,EMP036,Deepika Roy,48.0,Female,Management,Director,3000000.0,30.0,Bangalore,Karnataka,MBA,5.0,03/12/1994,50.0,72.0
37,EMP038,Meera Nair,34.0,Female,HR,Senior HR Manager,820000.0,9.0,Kochi,Kerala,MBA,4.3,08/19/2015,14.0,NaN
38,EMP039,Sameer Desai,37.0,Male,Finance,Finance Manager,1100000.0,15.0,Delhi,Delhi,CA,4.8,10/05/2009,22.0,58.0
40,EMP041,Vinod Iyer,55.0,Male,Management,CEO,5000000.0,35.0,Chennai,Tamil Nadu,MBA,5.0,01/15/1989,inf,80.0
42,EMP043,Manish Khanna,40.0,Male,Operations,Operations Head,1250000.0,18.0,Hyderabad,Telangana,B.Tech,4.7,07/08/2006,32.0,62.0
43,EMP044,Arjun Pandey,31.0,Male,IT,Software Engineer,750000.0,7.0,Jaipur,Rajasthan,B.Tech,4.4,06/15/2017,11.0,37.0
46,EMP047,Riya Gupta,32.0,Female,HR,HR Specialist,NaN,8.0,Mumbai,Maharashtra,MBA,NaN,11/03/2016,inf,42.0
47,EMP048,Rohit Bansal,36.0,Male,Finance,Senior Analyst,980000.0,12.0,Mumbai,Maharashtra,CA,4.9,03/20/2012,19.0,51.0

In [41]:

df.replace([np.inf],-np.nan,inplace=True)

In [ ]:
#handling missing values
df.isnull()
df.isnull().sum()

#fill missing values
df.fillna(0, inplace=True)

df.fillna(df.mean(numeric_only=True), inplace=True)

#drop missing values
df.dropna(inplace=True)

In [ ]:
#Remove duplicate rows
df.duplicated()
df.drop_duplicates(inplace=True)

In [ ]:
#filtering Data
df[df["Age"] > 30]
df[(df["Age"] > 25) & (df["Salary"] > 50000)]

,Employee_ID,Name,Age,Gender,Department,Position,Salary,Experience_Years,City,State,Education,Performance_Rating,Joining_Date,Projects_Completed,Overtime_Hours
0,EMP001,Rajesh Kumar,32.0,Male,Engineering,Senior Developer,850000.0,8.0,Bangalore,Karnataka,B.Tech,4.2,03/15/2016,12.0,45.0
1,EMP002,Priya Sharma,28.0,Female,Marketing,Marketing Manager,720000.0,5.0,Mumbai,Maharashtra,MBA,4.5,01/20/2019,8.0,32.0
2,EMP003,Amit Singh,35.0,Male,Finance,Financial Analyst,650000.0,10.0,Delhi,Delhi,CA,3.8,07/10/2014,15.0,28.0
3,EMP004,Sneha Patel,26.0,Female,0,HR Executive,480000.0,3.0,Ahmedabad,Gujarat,MBA,4.1,05/12/2021,6.0,20.0
4,EMP005,Vikram Reddy,40.0,Male,Engineering,Tech Lead,1200000.0,15.0,Hyderabad,Telangana,M.Tech,4.7,11/08/2009,25.0,55.0
5,EMP006,Kavya Nair,29.0,Female,Sales,Sales Executive,550000.0,4.0,Chennai,Tamil Nadu,B.Com,3.9,02/28/2020,inf,38.0
7,EMP008,Meera Joshi,27.0,Female,Design,UI/UX Designer,620000.0,4.0,Bangalore,Karnataka,B.Des,4.4,08/03/2020,7.0,25.0
8,EMP009,Rohit Agarwal,33.0,Male,Finance,0,580000.0,9.0,Kolkata,West Bengal,M.Com,3.7,12/01/2015,13.0,30.0
9,EMP010,Anita Verma,38.0,Female,HR,HR Manager,950000.0,12.0,Gurgaon,Haryana,MBA,4.6,04/18/2012,18.0,48.0
10,EMP011,Suresh Iyer,42.0,Male,Engineering,Principal Engineer,1350000.0,18.0,Chennai,Tamil Nadu,M.Tech,4.8,01/25/2006,30.0,60.0
12,EMP013,Karan Chopra,30.0,Male,Sales,Sales Manager,780000.0,6.0,Mumbai,Maharashtra,MBA,4.2,06/22/2018,10.0,35.0
13,EMP014,Divya Rao,34.0,Female,Engineering,Data Scientist,950000.0,8.0,Bangalore,Karnataka,M.Sc,4.5,10/05/2016,14.0,40.0
14,EMP015,Manoj Tiwari,36.0,Male,Operations,Operations Manager,820000.0,0.0,Noida,Uttar Pradesh,B.Tech,4.1,08/30/2013,16.0,45.0
15,EMP016,Ritu Bansal,28.0,Female,Finance,Financial Planner,580000.0,5.0,Jaipur,0,MBA,3.9,11/15/2019,8.0,22.0
16,EMP017,Deepak Kumar,39.0,Male,Engineering,Software Architect,1150000.0,14.0,Hyderabad,Telangana,M.Tech,4.6,02/12/2010,inf,52.0
17,EMP018,Sonia Kapoor,26.0,Female,Design,Graphic Designer,420000.0,3.0,Chandigarh,Punjab,B.Des,4.0,07/08/2021,5.0,18.0
18,EMP019,Rahul Saxena,32.0,Male,Marketing,Product Manager,890000.0,7.0,Pune,Maharashtra,MBA,0.0,04/20/2017,12.0,38.0
19,EMP020,Nisha Pandey,29.0,Female,HR,Talent Acquisition Specialist,520000.0,4.0,Lucknow,Uttar Pradesh,MBA,4.2,09/25/2020,7.0,28.0
20,EMP021,Gaurav Mishra,37.0,Male,Engineering,Full Stack Developer,820000.0,10.0,Indore,Madhya Pradesh,B.Tech,4.3,05/16/2014,17.0,44.0
21,EMP022,Preeti Singh,31.0,Female,Sales,Regional Sales Head,950000.0,0.0,Bhopal,Madhya Pradesh,MBA,4.5,12/03/2016,13.0,46.0
22,EMP023,Ashish Jain,28.0,Male,Finance,Investment Analyst,680000.0,5.0,Surat,Gujarat,CFA,4.1,08/14/2019,9.0,33.0
23,EMP024,Swati Agrawal,33.0,Female,Operations,Process Manager,720000.0,9.0,Nagpur,Maharashtra,B.Tech,4.0,03/28/2015,14.0,36.0
24,EMP025,Vishal Gupta,35.0,Male,Engineering,Machine Learning Engineer,1050000.0,9.0,Bangalore,Karnataka,M.Tech,4.7,09/10/2015,16.0,48.0
27,EMP028,Amit Sharma,27.0,Male,IT,Junior Developer,650000.0,4.0,Delhi,0,B.Tech,4.5,08/20/2020,5.0,25.0
29,EMP030,Rajesh Verma,45.0,Male,Finance,CFO,1200000.0,inf,Bangalore,Karnataka,CA,4.9,02/28/2005,28.0,65.0
30,EMP031,Priya Singh,29.0,Female,IT,QA Engineer,720000.0,6.0,Kolkata,West Bengal,B.Tech,4.2,09/14/2018,0.0,33.0
31,EMP032,Sunil Kumar,26.0,Male,Sales,Sales Executive,500000.0,3.0,Chennai,Tamil Nadu,B.Com,0.0,01/10/2021,4.0,22.0
32,EMP033,Alok Mehta,52.0,Male,Operations,VP Operations,2000000.0,28.0,Hyderabad,Telangana,MBA,5.0,05/18/1996,45.0,inf
33,EMP034,Kavita Yadav,31.0,Female,IT,DevOps Engineer,inf,10.0,Pune,Maharashtra,B.Tech,4.0,12/07/2014,15.0,44.0
35,EMP036,Deepika Roy,48.0,Female,Management,Director,3000000.0,30.0,Bangalore,Karnataka,MBA,5.0,03/12/1994,50.0,72.0
36,EMP037,Ramesh Patel,29.0,Male,IT,Backend Developer,720000.0,6.0,Kolkata,West Bengal,B.Tech,4.2,0,9.0,35.0
37,EMP038,Meera Nair,34.0,Female,HR,Senior HR Manager,820000.0,9.0,Kochi,Kerala,MBA,4.3,08/19/2015,14.0,0.0
38,EMP039,Sameer Desai,37.0,Male,Finance,Finance Manager,1100000.0,15.0,Delhi,Delhi,CA,4.8,10/05/2009,22.0,58.0
39,EMP040,Swati Joshi,29.0,Female,IT,Full Stack Developer,650000.0,5.0,Mumbai,Maharashtra,B.Tech,0.0,04/30/2019,8.0,31.0
40,EMP041,Vinod Iyer,55.0,Male,Management,CEO,5000000.0,35.0,Chennai,Tamil Nadu,MBA,5.0,01/15/1989,inf,80.0
42,EMP043,Manish Khanna,40.0,Male,Operations,Operations Head,1250000.0,18.0,Hyderabad,Telangana,B.Tech,4.7,07/08/2006,32.0,62.0
43,EMP044,Arjun Pandey,31.0,Male,IT,Software Engineer,750000.0,7.0,Jaipur,Rajasthan,B.Tech,4.4,06/15/2017,11.0,37.0
45,EMP046,Amit Sharma,27.0,Male,IT,Junior Developer,650000.0,4.0,Delhi,0,B.Tech,4.5,08/20/2020,5.0,25.0
47,EMP048,Rohit Bansal,36.0,Male,Finance,Senior Analyst,980000.0,12.0,Mumbai,Maharashtra,CA,4.9,03/20/2012,19.0,51.0

In [36]:
#sorting data
df.sort_values("Salary")
df.sort_values("Salary", ascending=False)

,Employee_ID,Name,Age,Gender,Department,Position,Salary,Experience_Years,City,State,Education,Performance_Rating,Joining_Date,Projects_Completed,Overtime_Hours
35,EMP036,Deepika Roy,48.0,Female,Management,Director,3.000000e+06,30.0,Bangalore,Karnataka,MBA,5.0,03/12/1994,50.0,72.0
32,EMP033,Alok Mehta,52.0,Male,Operations,VP Operations,2.000000e+06,28.0,Hyderabad,Telangana,MBA,5.0,05/18/1996,45.0,0.0
10,EMP011,Suresh Iyer,42.0,Male,Engineering,Principal Engineer,1.350000e+06,18.0,Chennai,Tamil Nadu,M.Tech,4.8,01/25/2006,30.0,60.0
42,EMP043,Manish Khanna,40.0,Male,Operations,Operations Head,1.250000e+06,18.0,Hyderabad,Telangana,B.Tech,4.7,07/08/2006,32.0,62.0
29,EMP030,Rajesh Verma,45.0,Male,Finance,CFO,1.200000e+06,0.0,Bangalore,Karnataka,CA,4.9,02/28/2005,28.0,65.0
4,EMP005,Vikram Reddy,40.0,Male,Engineering,Tech Lead,1.200000e+06,15.0,Hyderabad,Telangana,M.Tech,4.7,11/08/2009,25.0,55.0
16,EMP017,Deepak Kumar,39.0,Male,Engineering,Software Architect,1.150000e+06,14.0,Hyderabad,Telangana,M.Tech,4.6,02/12/2010,0.0,52.0
38,EMP039,Sameer Desai,37.0,Male,Finance,Finance Manager,1.100000e+06,15.0,Delhi,Delhi,CA,4.8,10/05/2009,22.0,58.0
24,EMP025,Vishal Gupta,35.0,Male,Engineering,Machine Learning Engineer,1.050000e+06,9.0,Bangalore,Karnataka,M.Tech,4.7,09/10/2015,16.0,48.0
47,EMP048,Rohit Bansal,36.0,Male,Finance,Senior Analyst,9.800000e+05,12.0,Mumbai,Maharashtra,CA,4.9,03/20/2012,19.0,51.0
9,EMP010,Anita Verma,38.0,Female,HR,HR Manager,9.500000e+05,12.0,Gurgaon,Haryana,MBA,4.6,04/18/2012,18.0,48.0
13,EMP014,Divya Rao,34.0,Female,Engineering,Data Scientist,9.500000e+05,8.0,Bangalore,Karnataka,M.Sc,4.5,10/05/2016,14.0,40.0
21,EMP022,Preeti Singh,31.0,Female,Sales,Regional Sales Head,9.500000e+05,0.0,Bhopal,Madhya Pradesh,MBA,4.5,12/03/2016,13.0,46.0
18,EMP019,Rahul Saxena,32.0,Male,Marketing,Product Manager,8.900000e+05,7.0,Pune,Maharashtra,MBA,0.0,04/20/2017,12.0,38.0
0,EMP001,Rajesh Kumar,32.0,Male,Engineering,Senior Developer,8.500000e+05,8.0,Bangalore,Karnataka,B.Tech,4.2,03/15/2016,12.0,45.0
14,EMP015,Manoj Tiwari,36.0,Male,Operations,Operations Manager,8.200000e+05,0.0,Noida,Uttar Pradesh,B.Tech,4.1,08/30/2013,16.0,45.0
37,EMP038,Meera Nair,34.0,Female,HR,Senior HR Manager,8.200000e+05,9.0,Kochi,Kerala,MBA,4.3,08/19/2015,14.0,0.0
20,EMP021,Gaurav Mishra,37.0,Male,Engineering,Full Stack Developer,8.200000e+05,10.0,Indore,Madhya Pradesh,B.Tech,4.3,05/16/2014,17.0,44.0
34,EMP035,Pankaj Mishra,24.0,Male,Marketing,Marketing Associate,8.123469e+05,2.0,Jaipur,Rajasthan,BBA,3.5,07/25/2022,3.0,18.0
12,EMP013,Karan Chopra,30.0,Male,Sales,Sales Manager,7.800000e+05,6.0,Mumbai,Maharashtra,MBA,4.2,06/22/2018,10.0,35.0
25,EMP026,Arjun Pandey,0.0,Male,IT,Software Engineer,7.500000e+05,7.0,Jaipur,Rajasthan,B.Tech,4.4,06/15/2017,11.0,37.0
43,EMP044,Arjun Pandey,31.0,Male,IT,Software Engineer,7.500000e+05,7.0,Jaipur,Rajasthan,B.Tech,4.4,06/15/2017,11.0,37.0
36,EMP037,Ramesh Patel,29.0,Male,IT,Backend Developer,7.200000e+05,6.0,Kolkata,West Bengal,B.Tech,4.2,0,9.0,35.0
23,EMP024,Swati Agrawal,33.0,Female,Operations,Process Manager,7.200000e+05,9.0,Nagpur,Maharashtra,B.Tech,4.0,03/28/2015,14.0,36.0
1,EMP002,Priya Sharma,28.0,Female,Marketing,Marketing Manager,7.200000e+05,5.0,Mumbai,Maharashtra,MBA,4.5,01/20/2019,8.0,32.0
30,EMP031,Priya Singh,29.0,Female,IT,QA Engineer,7.200000e+05,6.0,Kolkata,West Bengal,B.Tech,4.2,09/14/2018,0.0,33.0
22,EMP023,Ashish Jain,28.0,Male,Finance,Investment Analyst,6.800000e+05,5.0,Surat,Gujarat,CFA,4.1,08/14/2019,9.0,33.0
39,EMP040,Swati Joshi,29.0,Female,IT,Full Stack Developer,6.500000e+05,5.0,Mumbai,Maharashtra,B.Tech,0.0,04/30/2019,8.0,31.0
45,EMP046,Amit Sharma,27.0,Male,IT,Junior Developer,6.500000e+05,4.0,Delhi,0,B.Tech,4.5,08/20/2020,5.0,25.0
27,EMP028,Amit Sharma,27.0,Male,IT,Junior Developer,6.500000e+05,4.0,Delhi,0,B.Tech,4.5,08/20/2020,5.0,25.0
2,EMP003,Amit Singh,35.0,Male,Finance,Financial Analyst,6.500000e+05,10.0,Delhi,Delhi,CA,3.8,07/10/2014,15.0,28.0
7,EMP008,Meera Joshi,27.0,Female,Design,UI/UX Designer,6.200000e+05,4.0,Bangalore,Karnataka,B.Des,4.4,08/03/2020,7.0,25.0
8,EMP009,Rohit Agarwal,33.0,Male,Finance,0,5.800000e+05,9.0,Kolkata,West Bengal,M.Com,3.7,12/01/2015,13.0,30.0
15,EMP016,Ritu Bansal,28.0,Female,Finance,Financial Planner,5.800000e+05,5.0,Jaipur,0,MBA,3.9,11/15/2019,8.0,22.0
5,EMP006,Kavya Nair,29.0,Female,Sales,Sales Executive,5.500000e+05,4.0,Chennai,Tamil Nadu,B.Com,3.9,02/28/2020,0.0,38.0
19,EMP020,Nisha Pandey,29.0,Female,HR,Talent Acquisition Specialist,5.200000e+05,4.0,Lucknow,Uttar Pradesh,MBA,4.2,09/25/2020,7.0,28.0
31,EMP032,Sunil Kumar,26.0,Male,Sales,Sales Executive,5.000000e+05,3.0,Chennai,Tamil Nadu,B.Com,0.0,01/10/2021,4.0,22.0
3,EMP004,Sneha Patel,26.0,Female,0,HR Executive,4.800000e+05,3.0,Ahmedabad,Gujarat,MBA,4.1,05/12/2021,6.0,20.0
11,EMP012,Pooja Malhotra,0.0,Female,Marketing,Digital Marketing Specialist,4.500000e+05,2.0,Delhi,Delhi,BBA,4.0,03/10/2022,4.0,15.0
17,EMP018,Sonia Kapoor,26.0,Female,Design,Graphic Designer,4.200000e+05,3.0,Chandigarh,Punjab,B.Des,4.0,07/08/2021,5.0,18.0
41,EMP042,Anjali Saxena,23.0,Female,HR,HR Trainee,3.800000e+05,3.0,Pune,Maharashtra,MBA,3.9,11/22/2021,2.0,12.0
6,EMP007,Arjun Gupta,31.0,Male,Engineering,DevOps Engineer,0.000000e+00,7.0,Pune,Maharashtra,B.Tech,4.3,09/14/2017,11.0,42.0
28,EMP029,Riya Gupta,32.0,Female,HR,HR Specialist,0.000000e+00,8.0,Mumbai,Maharashtra,MBA,3.8,11/03/2016,12.0,42.0
26,EMP027,Neha Kapoor,28.0,Female,IT,Data Analyst,0.000000e+00,4.0,Bangalore,Karnataka,M.Sc,3.8,04/12/2020,6.0,29.0
33,EMP034,Kavita Yadav,31.0,Female,IT,DevOps Engineer,0.000000e+00,10.0,Pune,Maharashtra,B.Tech,4.0,12/07/2014,15.0,44.0
44,EMP045,Neha Kapoor,28.0,Female,IT,Data Analyst,0.000000e+00,4.0,Bangalore,Karnataka,M.Sc,3.8,04/12/2020,6.0,29.0
46,EMP047,Riya Gupta,32.0,Female,HR,HR Specialist,0.000000e+00,8.0,Mumbai,Maharashtra,MBA,0.0,11/03/2016,0.0,42.0
48,EMP049,Sneha Tiwari,25.0,Female,Sales,Sales Representative,0.000000e+00,2.0,Kolkata,West Bengal,B.Com,3.6,05/14/2022,3.0,16.0

In [ ]:
#remove negative salaries
df['Salary']=np.where(df['Salary']<0,df['Salary'].mean(),df['Salary'])

In [33]:
print(df)

   Employee_ID            Name   Age  Gender   Department  \
0       EMP001    Rajesh Kumar  32.0    Male  Engineering
1       EMP002    Priya Sharma  28.0  Female    Marketing
2       EMP003      Amit Singh  35.0    Male      Finance
3       EMP004     Sneha Patel  26.0  Female            0
4       EMP005    Vikram Reddy  40.0    Male  Engineering
5       EMP006      Kavya Nair  29.0  Female        Sales
6       EMP007     Arjun Gupta  31.0    Male  Engineering
7       EMP008     Meera Joshi  27.0  Female       Design
8       EMP009   Rohit Agarwal  33.0    Male      Finance
9       EMP010     Anita Verma  38.0  Female           HR
10      EMP011     Suresh Iyer  42.0    Male  Engineering
11      EMP012  Pooja Malhotra   0.0  Female    Marketing
12      EMP013    Karan Chopra  30.0    Male        Sales
13      EMP014       Divya Rao  34.0  Female  Engineering
14      EMP015    Manoj Tiwari  36.0    Male   Operations
15      EMP016     Ritu Bansal  28.0  Female      Finance
16      EMP017    Deepak Kumar  39.0    Male  Engineering
17      EMP018    Sonia Kapoor  26.0  Female       Design
18      EMP019    Rahul Saxena  32.0    Male    Marketing
19      EMP020    Nisha Pandey  29.0  Female           HR
20      EMP021   Gaurav Mishra  37.0    Male  Engineering
21      EMP022    Preeti Singh  31.0  Female        Sales
22      EMP023     Ashish Jain  28.0    Male      Finance
23      EMP024   Swati Agrawal  33.0  Female   Operations
24      EMP025    Vishal Gupta  35.0    Male  Engineering
25      EMP026    Arjun Pandey   0.0    Male           IT
26      EMP027     Neha Kapoor  28.0  Female           IT
27      EMP028     Amit Sharma  27.0    Male           IT
28      EMP029      Riya Gupta  32.0  Female           HR
29      EMP030    Rajesh Verma  45.0    Male      Finance
30      EMP031     Priya Singh  29.0  Female           IT
31      EMP032     Sunil Kumar  26.0    Male        Sales
32      EMP033      Alok Mehta  52.0    Male   Operations
33      EMP034    Kavita Yadav  31.0  Female           IT
34      EMP035   Pankaj Mishra  24.0    Male    Marketing
35      EMP036     Deepika Roy  48.0  Female   Management
36      EMP037    Ramesh Patel  29.0    Male           IT
37      EMP038      Meera Nair  34.0  Female           HR
38      EMP039    Sameer Desai  37.0    Male      Finance
39      EMP040     Swati Joshi  29.0  Female           IT
40      EMP041      Vinod Iyer  55.0    Male   Management
41      EMP042   Anjali Saxena  23.0  Female           HR
42      EMP043   Manish Khanna  40.0    Male   Operations
43      EMP044    Arjun Pandey  31.0    Male           IT
44      EMP045     Neha Kapoor  28.0  Female           IT
45      EMP046     Amit Sharma  27.0    Male           IT
46      EMP047      Riya Gupta  32.0  Female           HR
47      EMP048    Rohit Bansal  36.0    Male      Finance
48      EMP049    Sneha Tiwari  25.0  Female        Sales

                         Position        Salary  Experience_Years        City  \
0                Senior Developer  8.500000e+05               8.0   Bangalore
1               Marketing Manager  7.200000e+05               5.0      Mumbai
2               Financial Analyst  6.500000e+05              10.0       Delhi
3                    HR Executive  4.800000e+05               3.0   Ahmedabad
4                       Tech Lead  1.200000e+06              15.0   Hyderabad
5                 Sales Executive  5.500000e+05               4.0     Chennai
6                 DevOps Engineer  0.000000e+00               7.0        Pune
7                  UI/UX Designer  6.200000e+05               4.0   Bangalore
8                               0  5.800000e+05               9.0     Kolkata
9                      HR Manager  9.500000e+05              12.0     Gurgaon
10             Principal Engineer  1.350000e+06              18.0     Chennai
11   Digital Marketing Specialist  4.500000e+05               2.0       Delhi
12                  Sales Manager  7.800000e+05               6.0      Mumbai
13                 Data Scientist  9.500000e+05               8.0   Bangalore
14             Operations Manager  8.200000e+05               0.0       Noida
15              Financial Planner  5.800000e+05               5.0      Jaipur
16             Software Architect  1.150000e+06              14.0   Hyderabad
17               Graphic Designer  4.200000e+05               3.0  Chandigarh
18                Product Manager  8.900000e+05               7.0        Pune
19  Talent Acquisition Specialist  5.200000e+05               4.0     Lucknow
20           Full Stack Developer  8.200000e+05              10.0      Indore
21            Regional Sales Head  9.500000e+05               0.0      Bhopal
22             Investment Analyst  6.800000e+05               5.0       Surat
23                Process Manager  7.200000e+05               9.0      Nagpur
24      Machine Learning Engineer  1.050000e+06               9.0   Bangalore
25              Software Engineer  7.500000e+05               7.0      Jaipur
26                   Data Analyst  0.000000e+00               4.0   Bangalore
27               Junior Developer  6.500000e+05               4.0       Delhi
28                  HR Specialist  0.000000e+00               8.0      Mumbai
29                            CFO  1.200000e+06               0.0   Bangalore
30                    QA Engineer  7.200000e+05               6.0     Kolkata
31                Sales Executive  5.000000e+05               3.0     Chennai
32                  VP Operations  2.000000e+06              28.0   Hyderabad
33                DevOps Engineer  0.000000e+00              10.0        Pune
34            Marketing Associate  8.123469e+05               2.0      Jaipur
35                       Director  3.000000e+06              30.0   Bangalore
36              Backend Developer  7.200000e+05               6.0     Kolkata
37              Senior HR Manager  8.200000e+05               9.0       Kochi
38                Finance Manager  1.100000e+06              15.0       Delhi
39           Full Stack Developer  6.500000e+05               5.0      Mumbai
40                            CEO  5.000000e+06              35.0     Chennai
41                     HR Trainee  3.800000e+05               3.0        Pune
42                Operations Head  1.250000e+06              18.0   Hyderabad
43              Software Engineer  7.500000e+05               7.0      Jaipur
44                   Data Analyst  0.000000e+00               4.0   Bangalore
45               Junior Developer  6.500000e+05               4.0       Delhi
46                  HR Specialist  0.000000e+00               8.0      Mumbai
47                 Senior Analyst  9.800000e+05              12.0      Mumbai
48           Sales Representative  0.000000e+00               2.0     Kolkata

             State Education  Performance_Rating Joining_Date  \
0        Karnataka    B.Tech                 4.2   03/15/2016
1      Maharashtra       MBA                 4.5   01/20/2019
2            Delhi        CA                 3.8   07/10/2014
3          Gujarat       MBA                 4.1   05/12/2021
4        Telangana    M.Tech                 4.7   11/08/2009
5       Tamil Nadu     B.Com                 3.9   02/28/2020
6      Maharashtra    B.Tech                 4.3   09/14/2017
7        Karnataka     B.Des                 4.4   08/03/2020
8      West Bengal     M.Com                 3.7   12/01/2015
9          Haryana       MBA                 4.6   04/18/2012
10      Tamil Nadu    M.Tech                 4.8   01/25/2006
11           Delhi       BBA                 4.0   03/10/2022
12     Maharashtra       MBA                 4.2   06/22/2018
13       Karnataka      M.Sc                 4.5   10/05/2016
14   Uttar Pradesh    B.Tech                 4.1   08/30/2013
15               0       MBA                 3.9   11/15/2019
16       Telangana    M.Tech                 4.6   02/12/2010
17          Punjab     B.Des                 4.0   07/08/2021
18     Maharashtra       MBA                 0.0   04/20/2017
19   Uttar Pradesh       MBA                 4.2   09/25/2020
20  Madhya Pradesh    B.Tech                 4.3   05/16/2014
21  Madhya Pradesh       MBA                 4.5   12/03/2016
22         Gujarat       CFA                 4.1   08/14/2019
23     Maharashtra    B.Tech                 4.0   03/28/2015
24       Karnataka    M.Tech                 4.7   09/10/2015
25       Rajasthan    B.Tech                 4.4   06/15/2017
26       Karnataka      M.Sc                 3.8   04/12/2020
27               0    B.Tech                 4.5   08/20/2020
28     Maharashtra       MBA                 3.8   11/03/2016
29       Karnataka        CA                 4.9   02/28/2005
30     West Bengal    B.Tech                 4.2   09/14/2018
31      Tamil Nadu     B.Com                 0.0   01/10/2021
32       Telangana       MBA                 5.0   05/18/1996
33     Maharashtra    B.Tech                 4.0   12/07/2014
34       Rajasthan       BBA                 3.5   07/25/2022
35       Karnataka       MBA                 5.0   03/12/1994
36     West Bengal    B.Tech                 4.2            0
37          Kerala       MBA                 4.3   08/19/2015
38           Delhi        CA                 4.8   10/05/2009
39     Maharashtra    B.Tech                 0.0   04/30/2019
40      Tamil Nadu       MBA                 5.0   01/15/1989
41     Maharashtra       MBA                 3.9   11/22/2021
42       Telangana    B.Tech                 4.7   07/08/2006
43       Rajasthan    B.Tech                 4.4   06/15/2017
44       Karnataka      M.Sc                 3.8   04/12/2020
45               0    B.Tech                 4.5   08/20/2020
46     Maharashtra       MBA                 0.0   11/03/2016
47     Maharashtra        CA                 4.9   03/20/2012
48     West Bengal     B.Com                 3.6   05/14/2022

    Projects_Completed  Overtime_Hours
0                 12.0            45.0
1                  8.0            32.0
2                 15.0            28.0
3                  6.0            20.0
4                 25.0            55.0
5                  0.0            38.0
6                 11.0            42.0
7                  7.0            25.0
8                 13.0            30.0
9                 18.0            48.0
10                30.0            60.0
11                 4.0            15.0
12                10.0            35.0
13                14.0            40.0
14                16.0            45.0
15                 8.0            22.0
16                 0.0            52.0
17                 5.0            18.0
18                12.0            38.0
19                 7.0            28.0
20                17.0            44.0
21                13.0            46.0
22                 9.0            33.0
23                14.0            36.0
24                16.0            48.0
25                11.0            37.0
26                 6.0            29.0
27                 5.0            25.0
28                12.0            42.0
29                28.0            65.0
30                 0.0            33.0
31                 4.0            22.0
32                45.0             0.0
33                15.0            44.0
34                 3.0            18.0
35                50.0            72.0
36                 9.0            35.0
37                14.0             0.0
38                22.0            58.0
39                 8.0            31.0
40                 0.0            80.0
41                 2.0            12.0
42                32.0            62.0
43                11.0            37.0
44                 6.0            29.0
45                 5.0            25.0
46                 0.0            42.0
47                19.0            51.0
48                 3.0            16.0

In [34]:
salary_mean= df['Salary'].mean()
salary_std= df['Salary'].std()
lower_bound = salary_mean - (3 * salary_std)
upper_bound = salary_mean + (3 * salary_std)

In [35]:
df = df[(df['Salary'] >= lower_bound) & (df['Salary'] <= upper_bound)]
print(df)

   Employee_ID            Name   Age  Gender   Department  \
0       EMP001    Rajesh Kumar  32.0    Male  Engineering
1       EMP002    Priya Sharma  28.0  Female    Marketing
2       EMP003      Amit Singh  35.0    Male      Finance
3       EMP004     Sneha Patel  26.0  Female            0
4       EMP005    Vikram Reddy  40.0    Male  Engineering
5       EMP006      Kavya Nair  29.0  Female        Sales
6       EMP007     Arjun Gupta  31.0    Male  Engineering
7       EMP008     Meera Joshi  27.0  Female       Design
8       EMP009   Rohit Agarwal  33.0    Male      Finance
9       EMP010     Anita Verma  38.0  Female           HR
10      EMP011     Suresh Iyer  42.0    Male  Engineering
11      EMP012  Pooja Malhotra   0.0  Female    Marketing
12      EMP013    Karan Chopra  30.0    Male        Sales
13      EMP014       Divya Rao  34.0  Female  Engineering
14      EMP015    Manoj Tiwari  36.0    Male   Operations
15      EMP016     Ritu Bansal  28.0  Female      Finance
16      EMP017    Deepak Kumar  39.0    Male  Engineering
17      EMP018    Sonia Kapoor  26.0  Female       Design
18      EMP019    Rahul Saxena  32.0    Male    Marketing
19      EMP020    Nisha Pandey  29.0  Female           HR
20      EMP021   Gaurav Mishra  37.0    Male  Engineering
21      EMP022    Preeti Singh  31.0  Female        Sales
22      EMP023     Ashish Jain  28.0    Male      Finance
23      EMP024   Swati Agrawal  33.0  Female   Operations
24      EMP025    Vishal Gupta  35.0    Male  Engineering
25      EMP026    Arjun Pandey   0.0    Male           IT
26      EMP027     Neha Kapoor  28.0  Female           IT
27      EMP028     Amit Sharma  27.0    Male           IT
28      EMP029      Riya Gupta  32.0  Female           HR
29      EMP030    Rajesh Verma  45.0    Male      Finance
30      EMP031     Priya Singh  29.0  Female           IT
31      EMP032     Sunil Kumar  26.0    Male        Sales
32      EMP033      Alok Mehta  52.0    Male   Operations
33      EMP034    Kavita Yadav  31.0  Female           IT
34      EMP035   Pankaj Mishra  24.0    Male    Marketing
35      EMP036     Deepika Roy  48.0  Female   Management
36      EMP037    Ramesh Patel  29.0    Male           IT
37      EMP038      Meera Nair  34.0  Female           HR
38      EMP039    Sameer Desai  37.0    Male      Finance
39      EMP040     Swati Joshi  29.0  Female           IT
41      EMP042   Anjali Saxena  23.0  Female           HR
42      EMP043   Manish Khanna  40.0    Male   Operations
43      EMP044    Arjun Pandey  31.0    Male           IT
44      EMP045     Neha Kapoor  28.0  Female           IT
45      EMP046     Amit Sharma  27.0    Male           IT
46      EMP047      Riya Gupta  32.0  Female           HR
47      EMP048    Rohit Bansal  36.0    Male      Finance
48      EMP049    Sneha Tiwari  25.0  Female        Sales

                         Position        Salary  Experience_Years        City  \
0                Senior Developer  8.500000e+05               8.0   Bangalore
1               Marketing Manager  7.200000e+05               5.0      Mumbai
2               Financial Analyst  6.500000e+05              10.0       Delhi
3                    HR Executive  4.800000e+05               3.0   Ahmedabad
4                       Tech Lead  1.200000e+06              15.0   Hyderabad
5                 Sales Executive  5.500000e+05               4.0     Chennai
6                 DevOps Engineer  0.000000e+00               7.0        Pune
7                  UI/UX Designer  6.200000e+05               4.0   Bangalore
8                               0  5.800000e+05               9.0     Kolkata
9                      HR Manager  9.500000e+05              12.0     Gurgaon
10             Principal Engineer  1.350000e+06              18.0     Chennai
11   Digital Marketing Specialist  4.500000e+05               2.0       Delhi
12                  Sales Manager  7.800000e+05               6.0      Mumbai
13                 Data Scientist  9.500000e+05               8.0   Bangalore
14             Operations Manager  8.200000e+05               0.0       Noida
15              Financial Planner  5.800000e+05               5.0      Jaipur
16             Software Architect  1.150000e+06              14.0   Hyderabad
17               Graphic Designer  4.200000e+05               3.0  Chandigarh
18                Product Manager  8.900000e+05               7.0        Pune
19  Talent Acquisition Specialist  5.200000e+05               4.0     Lucknow
20           Full Stack Developer  8.200000e+05              10.0      Indore
21            Regional Sales Head  9.500000e+05               0.0      Bhopal
22             Investment Analyst  6.800000e+05               5.0       Surat
23                Process Manager  7.200000e+05               9.0      Nagpur
24      Machine Learning Engineer  1.050000e+06               9.0   Bangalore
25              Software Engineer  7.500000e+05               7.0      Jaipur
26                   Data Analyst  0.000000e+00               4.0   Bangalore
27               Junior Developer  6.500000e+05               4.0       Delhi
28                  HR Specialist  0.000000e+00               8.0      Mumbai
29                            CFO  1.200000e+06               0.0   Bangalore
30                    QA Engineer  7.200000e+05               6.0     Kolkata
31                Sales Executive  5.000000e+05               3.0     Chennai
32                  VP Operations  2.000000e+06              28.0   Hyderabad
33                DevOps Engineer  0.000000e+00              10.0        Pune
34            Marketing Associate  8.123469e+05               2.0      Jaipur
35                       Director  3.000000e+06              30.0   Bangalore
36              Backend Developer  7.200000e+05               6.0     Kolkata
37              Senior HR Manager  8.200000e+05               9.0       Kochi
38                Finance Manager  1.100000e+06              15.0       Delhi
39           Full Stack Developer  6.500000e+05               5.0      Mumbai
41                     HR Trainee  3.800000e+05               3.0        Pune
42                Operations Head  1.250000e+06              18.0   Hyderabad
43              Software Engineer  7.500000e+05               7.0      Jaipur
44                   Data Analyst  0.000000e+00               4.0   Bangalore
45               Junior Developer  6.500000e+05               4.0       Delhi
46                  HR Specialist  0.000000e+00               8.0      Mumbai
47                 Senior Analyst  9.800000e+05              12.0      Mumbai
48           Sales Representative  0.000000e+00               2.0     Kolkata

             State Education  Performance_Rating Joining_Date  \
0        Karnataka    B.Tech                 4.2   03/15/2016
1      Maharashtra       MBA                 4.5   01/20/2019
2            Delhi        CA                 3.8   07/10/2014
3          Gujarat       MBA                 4.1   05/12/2021
4        Telangana    M.Tech                 4.7   11/08/2009
5       Tamil Nadu     B.Com                 3.9   02/28/2020
6      Maharashtra    B.Tech                 4.3   09/14/2017
7        Karnataka     B.Des                 4.4   08/03/2020
8      West Bengal     M.Com                 3.7   12/01/2015
9          Haryana       MBA                 4.6   04/18/2012
10      Tamil Nadu    M.Tech                 4.8   01/25/2006
11           Delhi       BBA                 4.0   03/10/2022
12     Maharashtra       MBA                 4.2   06/22/2018
13       Karnataka      M.Sc                 4.5   10/05/2016
14   Uttar Pradesh    B.Tech                 4.1   08/30/2013
15               0       MBA                 3.9   11/15/2019
16       Telangana    M.Tech                 4.6   02/12/2010
17          Punjab     B.Des                 4.0   07/08/2021
18     Maharashtra       MBA                 0.0   04/20/2017
19   Uttar Pradesh       MBA                 4.2   09/25/2020
20  Madhya Pradesh    B.Tech                 4.3   05/16/2014
21  Madhya Pradesh       MBA                 4.5   12/03/2016
22         Gujarat       CFA                 4.1   08/14/2019
23     Maharashtra    B.Tech                 4.0   03/28/2015
24       Karnataka    M.Tech                 4.7   09/10/2015
25       Rajasthan    B.Tech                 4.4   06/15/2017
26       Karnataka      M.Sc                 3.8   04/12/2020
27               0    B.Tech                 4.5   08/20/2020
28     Maharashtra       MBA                 3.8   11/03/2016
29       Karnataka        CA                 4.9   02/28/2005
30     West Bengal    B.Tech                 4.2   09/14/2018
31      Tamil Nadu     B.Com                 0.0   01/10/2021
32       Telangana       MBA                 5.0   05/18/1996
33     Maharashtra    B.Tech                 4.0   12/07/2014
34       Rajasthan       BBA                 3.5   07/25/2022
35       Karnataka       MBA                 5.0   03/12/1994
36     West Bengal    B.Tech                 4.2            0
37          Kerala       MBA                 4.3   08/19/2015
38           Delhi        CA                 4.8   10/05/2009
39     Maharashtra    B.Tech                 0.0   04/30/2019
41     Maharashtra       MBA                 3.9   11/22/2021
42       Telangana    B.Tech                 4.7   07/08/2006
43       Rajasthan    B.Tech                 4.4   06/15/2017
44       Karnataka      M.Sc                 3.8   04/12/2020
45               0    B.Tech                 4.5   08/20/2020
46     Maharashtra       MBA                 0.0   11/03/2016
47     Maharashtra        CA                 4.9   03/20/2012
48     West Bengal     B.Com                 3.6   05/14/2022

    Projects_Completed  Overtime_Hours
0                 12.0            45.0
1                  8.0            32.0
2                 15.0            28.0
3                  6.0            20.0
4                 25.0            55.0
5                  0.0            38.0
6                 11.0            42.0
7                  7.0            25.0
8                 13.0            30.0
9                 18.0            48.0
10                30.0            60.0
11                 4.0            15.0
12                10.0            35.0
13                14.0            40.0
14                16.0            45.0
15                 8.0            22.0
16                 0.0            52.0
17                 5.0            18.0
18                12.0            38.0
19                 7.0            28.0
20                17.0            44.0
21                13.0            46.0
22                 9.0            33.0
23                14.0            36.0
24                16.0            48.0
25                11.0            37.0
26                 6.0            29.0
27                 5.0            25.0
28                12.0            42.0
29                28.0            65.0
30                 0.0            33.0
31                 4.0            22.0
32                45.0             0.0
33                15.0            44.0
34                 3.0            18.0
35                50.0            72.0
36                 9.0            35.0
37                14.0             0.0
38                22.0            58.0
39                 8.0            31.0
41                 2.0            12.0
42                32.0            62.0
43                11.0            37.0
44                 6.0            29.0
45                 5.0            25.0
46                 0.0            42.0
47                19.0            51.0
48                 3.0            16.0

CLEANING THE DATA

In [45]:
df.loc[:, 'Age'] = df['Age'].fillna(df['Age'].median()).astype(int)
df.loc[:, 'Salary'] = df['Salary'].fillna(df['Salary'].median()).astype(int)
df.loc[:, 'Performance_Rating'] = df['Performance_Rating'].round(1)

In [46]:
columns_to_drop = ['Experience_Years','State','Education','Joining_Date','Projects_Completed','Overtime_Hours']
# Filter columns_to_drop to only include columns that exist in the DataFrame
columns_to_drop_existing = [col for col in columns_to_drop if col in df.columns]
df = df.drop(columns = columns_to_drop_existing)

In [47]:
print(df.head())

  Employee_ID          Name   Age  Gender   Department           Position  \
0      EMP001  Rajesh Kumar  32.0    Male  Engineering   Senior Developer
1      EMP002  Priya Sharma  28.0  Female    Marketing  Marketing Manager
2      EMP003    Amit Singh  35.0    Male      Finance  Financial Analyst
3      EMP004   Sneha Patel  26.0  Female          NaN       HR Executive
4      EMP005  Vikram Reddy  40.0    Male  Engineering          Tech Lead

      Salary       City  Performance_Rating
0   850000.0  Bangalore                 4.2
1   720000.0     Mumbai                 4.5
2   650000.0      Delhi                 3.8
3   480000.0  Ahmedabad                 4.1
4  1200000.0  Hyderabad                 4.7

In [49]:
df.to_csv('Cleaned_Indian_Employee_Data.csv',index=False)

In [50]:
df_cleaned = pd.read_csv('Cleaned_Indian_Employee_Data.csv')

In [51]:
print(df_cleaned)

   Employee_ID            Name   Age  Gender   Department  \
0       EMP001    Rajesh Kumar  32.0    Male  Engineering
1       EMP002    Priya Sharma  28.0  Female    Marketing
2       EMP003      Amit Singh  35.0    Male      Finance
3       EMP004     Sneha Patel  26.0  Female          NaN
4       EMP005    Vikram Reddy  40.0    Male  Engineering
5       EMP006      Kavya Nair  29.0  Female        Sales
6       EMP007     Arjun Gupta  31.0    Male  Engineering
7       EMP008     Meera Joshi  27.0  Female       Design
8       EMP009   Rohit Agarwal  33.0    Male      Finance
9       EMP010     Anita Verma  38.0  Female           HR
10      EMP011     Suresh Iyer  42.0    Male  Engineering
11      EMP012  Pooja Malhotra  31.0  Female    Marketing
12      EMP013    Karan Chopra  30.0    Male        Sales
13      EMP014       Divya Rao  34.0  Female  Engineering
14      EMP015    Manoj Tiwari  36.0    Male   Operations
15      EMP016     Ritu Bansal  28.0  Female      Finance
16      EMP017    Deepak Kumar  39.0    Male  Engineering
17      EMP018    Sonia Kapoor  26.0  Female       Design
18      EMP019    Rahul Saxena  32.0    Male    Marketing
19      EMP020    Nisha Pandey  29.0  Female           HR
20      EMP021   Gaurav Mishra  37.0    Male  Engineering
21      EMP022    Preeti Singh  31.0  Female        Sales
22      EMP023     Ashish Jain  28.0    Male      Finance
23      EMP024   Swati Agrawal  33.0  Female   Operations
24      EMP025    Vishal Gupta  35.0    Male  Engineering
25      EMP026    Arjun Pandey  31.0    Male           IT
26      EMP027     Neha Kapoor  28.0  Female           IT
27      EMP028     Amit Sharma  27.0    Male           IT
28      EMP029      Riya Gupta  32.0  Female           HR
29      EMP030    Rajesh Verma  45.0    Male      Finance
30      EMP031     Priya Singh  29.0  Female           IT
31      EMP032     Sunil Kumar  26.0    Male        Sales
32      EMP033      Alok Mehta  52.0    Male   Operations
33      EMP034    Kavita Yadav  31.0  Female           IT
34      EMP035   Pankaj Mishra  24.0    Male    Marketing
35      EMP036     Deepika Roy  48.0  Female   Management
36      EMP037    Ramesh Patel  29.0    Male           IT
37      EMP038      Meera Nair  34.0  Female           HR
38      EMP039    Sameer Desai  37.0    Male      Finance
39      EMP040     Swati Joshi  29.0  Female           IT
40      EMP041      Vinod Iyer  55.0    Male   Management
41      EMP042   Anjali Saxena  23.0  Female           HR
42      EMP043   Manish Khanna  40.0    Male   Operations
43      EMP044    Arjun Pandey  31.0    Male           IT
44      EMP045     Neha Kapoor  28.0  Female           IT
45      EMP046     Amit Sharma  27.0    Male           IT
46      EMP047      Riya Gupta  32.0  Female           HR
47      EMP048    Rohit Bansal  36.0    Male      Finance
48      EMP049    Sneha Tiwari  25.0  Female        Sales

                         Position     Salary        City  Performance_Rating
0                Senior Developer   850000.0   Bangalore                 4.2
1               Marketing Manager   720000.0      Mumbai                 4.5
2               Financial Analyst   650000.0       Delhi                 3.8
3                    HR Executive   480000.0   Ahmedabad                 4.1
4                       Tech Lead  1200000.0   Hyderabad                 4.7
5                 Sales Executive   550000.0     Chennai                 3.9
6                 DevOps Engineer   750000.0        Pune                 4.3
7                  UI/UX Designer   620000.0   Bangalore                 4.4
8                             NaN   580000.0     Kolkata                 3.7
9                      HR Manager   950000.0     Gurgaon                 4.6
10             Principal Engineer  1350000.0     Chennai                 4.8
11   Digital Marketing Specialist   450000.0       Delhi                 4.0
12                  Sales Manager   780000.0      Mumbai                 4.2
13                 Data Scientist   950000.0   Bangalore                 4.5
14             Operations Manager   820000.0       Noida                 4.1
15              Financial Planner   580000.0      Jaipur                 3.9
16             Software Architect  1150000.0   Hyderabad                 4.6
17               Graphic Designer   420000.0  Chandigarh                 4.0
18                Product Manager   890000.0        Pune                 NaN
19  Talent Acquisition Specialist   520000.0     Lucknow                 4.2
20           Full Stack Developer   820000.0      Indore                 4.3
21            Regional Sales Head   950000.0      Bhopal                 4.5
22             Investment Analyst   680000.0       Surat                 4.1
23                Process Manager   720000.0      Nagpur                 4.0
24      Machine Learning Engineer  1050000.0   Bangalore                 4.7
25              Software Engineer   750000.0      Jaipur                 4.4
26                   Data Analyst   750000.0   Bangalore                 3.8
27               Junior Developer   650000.0       Delhi                 4.5
28                  HR Specialist   750000.0      Mumbai                 3.8
29                            CFO  1200000.0   Bangalore                 4.9
30                    QA Engineer   720000.0     Kolkata                 4.2
31                Sales Executive   500000.0     Chennai                 NaN
32                  VP Operations  2000000.0   Hyderabad                 5.0
33                DevOps Engineer   750000.0        Pune                 4.0
34            Marketing Associate   -45000.0      Jaipur                 3.5
35                       Director  3000000.0   Bangalore                 5.0
36              Backend Developer   720000.0     Kolkata                 4.2
37              Senior HR Manager   820000.0       Kochi                 4.3
38                Finance Manager  1100000.0       Delhi                 4.8
39           Full Stack Developer   650000.0      Mumbai                 NaN
40                            CEO  5000000.0     Chennai                 5.0
41                     HR Trainee   380000.0        Pune                 3.9
42                Operations Head  1250000.0   Hyderabad                 4.7
43              Software Engineer   750000.0      Jaipur                 4.4
44                   Data Analyst   750000.0   Bangalore                 3.8
45               Junior Developer   650000.0       Delhi                 4.5
46                  HR Specialist   750000.0      Mumbai                 NaN
47                 Senior Analyst   980000.0      Mumbai                 4.9
48           Sales Representative   750000.0     Kolkata                 3.6

In [ ]:
import datetime
print(datetime.datetime.now)